#open-mobile-nav-button {
	width: 15%;
	display: none;
}

#close-mobile-nav-button {
	font-size: 150%;
	display: flex;
}

.nav-button {
	color: white;
	font-family: inherit;
	border: 0px;
	background-color: rgb(255, 255, 255, 0);
}

#mobile-nav {
	height: 100vh;
	width: 100vw;
	background-color: rbg(255, 255, 255);
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 4em;
	display: none;
}
#mobile-nav > a {
	text-decoration: none;
	color: white;
}

body {
		margin: 0px;
		padding: 0px;
		font-family: 'Oswald', sans-serif;
		letter-spacing: .1em;
		background-image: url("bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	#container {
		height: 98vh;
		padding-top: 15vh;
		box-sizing: border-box;
		color: white;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	#name {
		border: 5px solid black;
		border-color: white;
		padding: 20px;
	}

	#slogan {
		font-family: 'Tangerine', cursive;
		font-size: 3em;
		text-align: center;
		text-shadow: 4px 2px 2px rgba(0, 0, 0, .6);
		padding-left: 20px;
		padding-right: 20px;
	}

	#nav {
		height: 2vh;
		display: flex;
		width: 100vw;
	}
	#nav-left {
		width: 65vw;
	}
	#nav-right {
		width: 35vw;
		text-align: right;
	}
	#nav-left > a {
		padding-left: 22px;
	}
	#nav-right > a {
		padding-right: 22px;
	}
	#nav-left > a, #nav-right > a {
		text-decoration: none;
		color: white;
		font-size: 1.5em;
	}
	#nav-left > a:hover, #nav-right > a:hover {
		text-decoration: underline;
	}

@media only screen and (max-width: 780px) {
	#name {
		border: none;
		padding: 0px;
	}
	.nav-button {
		display: none;
	}
	#open-mobile-nav-button {
		display: flex;
	}
}
